# Recommender System using  Stacked Autoencoder

In this notebook we will create a Recommender System for movies using a Stacked Autoencoder. 
The stacked Autoencoder is composed by more than one stage of Encoding and by one stage of Decoding 
We can see the structure of the network in this picture:

![title](https://cdn-images-1.medium.com/max/1600/1*GD1a7PRdUngdUxGQqjMVWQ.png)

In particular, in this model we will use the following datasets:

https://grouplens.org/datasets/movielens/1m/

https://grouplens.org/datasets/movielens/100k/

MovieLens data sets were collected by the GroupLens Research Project
at the University of Minnesota.
 
This data set consists of:
 * 100,000 ratings (1-5) from 943 users on 1682 movies. 
 * Each user has rated at least 20 movies. 
 * Simple demographic info for the users (age, gender, occupation, zip)

In [2]:
# Libraries
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

## 1. Data

In [3]:
# Movies Data
movies = pd.read_csv('ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1', names = ['MovieID', 'Title', 'Genre' ])
movies.head()

   MovieID                               Title                         Genre
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [4]:
# Users Data
users = pd.read_csv('ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1', names = ['UserID', 'Gender', 'Age', 'Job', 'ZipCode' ])
users.head()

   UserID Gender  Age  Job ZipCode
0       1      F    1   10   48067
1       2      M   56   16   70072
2       3      M   25   15   55117
3       4      M   45    7   02460
4       5      M   25   20   55455

In [5]:
# Ratings Data
ratings = pd.read_csv('ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1', names = ['UserID', 'MovieID', 'Rating', 'Timestamp' ])
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

### 1.1 Prepare Training Set and Test set

We will use an holdout train test split. In particular we will use 80% of the data as training set and the remaining 20 % as test set

In [6]:
# Train set
training_set = pd.read_csv('ml-100k/u1.base', sep = '\t')
training_set.head()

   1  1.1  5  874965758
0  1    2  3  876893171
1  1    3  4  878542960
2  1    4  3  876893119
3  1    5  3  889751712
4  1    7  4  875071561

In [7]:
training_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79999 entries, 0 to 79998
Data columns (total 4 columns):
1            79999 non-null int64
1.1          79999 non-null int64
5            79999 non-null int64
874965758    79999 non-null int64
dtypes: int64(4)
memory usage: 2.4 MB

In [8]:
# Convert the df into an array
training_set = np.array(training_set, dtype = 'int')
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [9]:
# Test set
test_set = pd.read_csv('ml-100k/u1.test', sep = '\t')
test_set.head()

   1   6  5  887431973
0  1  10  3  875693118
1  1  12  5  878542960
2  1  14  5  874965706
3  1  17  3  875073198
4  1  20  4  887431883

In [10]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19999 entries, 0 to 19998
Data columns (total 4 columns):
1            19999 non-null int64
6            19999 non-null int64
5            19999 non-null int64
887431973    19999 non-null int64
dtypes: int64(4)
memory usage: 625.0 KB

In [11]:
test_set = np.array(test_set, dtype = 'int')
test_set

array([[        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       [        1,        14,         5, 874965706],
       ...,
       [      459,       934,         3, 879563639],
       [      460,        10,         3, 882912371],
       [      462,       682,         5, 886365231]])

In [12]:
# Getting the number of users and movies
n_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
n_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))

Now we will convert the data into an array whith users in line and movies in columns. For this reason we extracted the number of users and movies. The values will be the ratings. In particular we will create a list of list, in particular a list of movie ratings for each user.

In [13]:
def convert(data):
    new_data = []
    for id_users in range(1, n_users + 1):
        id_movies = data[:, 1][data[:,0] == id_users] # Select all the movies ID that corresponds to the user id
        id_ratings = data[:, 2][data[:,0] == id_users] # Select all the ratings ID that corresponds to the user id
        ratings = np.zeros(n_movies)
        ratings[id_movies - 1] = id_ratings # id_movies start at 0
        new_data.append(list(ratings))
    return new_data

In [14]:
training_set = convert(training_set)
test_set = convert(test_set)

Now we convert the data into Torch Tensor

In [15]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

## 2. Stacked Autoencoder

In [20]:
# Stacked Autoencoder Class
class SAE(nn.Module): # Inheritance from nn.Module
    def __init__(self, ):
        super(SAE, self).__init__() # Get all inherited class and methods of the parent module
        self.fc1 = nn.Linear(n_movies, 20) # First fully connected layer with 20 neurons used as Encoder
        self.fc2 = nn.Linear(20, 10) # Second fully connected layer with 10 neurons used as Econder
        self.fc3 = nn.Linear(10, 20) # Third fully connected layern used as Decoder
        self.fc4 = nn.Linear(20, n_movies) # Output layer
        self.activation = nn.Sigmoid()
    
    def forward(self, x):
        x = self.activation(self.fc1(x)) # First encoded vector
        x = self.activation(self.fc2(x)) # Second encoded vector
        x = self.activation(self.fc3(x)) # First decoded vector
        x = self.fc4(x) # Output vector
        return x

In [23]:
# Instantiate the autoencoder
sae = SAE()
metric = nn.MSELoss()
# The decay is used to regulate the convergence by reducing the learning rate after some epcohs
optimizer = optim.RMSprop(sae.parameters(), lr=0.01, weight_decay=0.5)

### Training

In [28]:
epochs = 200
for epoch in range(1, epochs + 1):
    train_loss = 0 
    s = 0. # count the number of users who rated at least one movie
    for id_user in range(n_users): # For each user take the movies rated
        input = Variable(training_set[id_user]).unsqueeze(0) # Batch of a single input vector
        target = input.clone() # The target vector will be our input
        if torch.sum(target.data > 0) > 0 : # consider users that rated at least one movie
            output = sae.forward(input) # forward the input in the network
            target.require_grad = False # Don't compute the gradient with respect to the target
            output[target == 0] = 0  # Optimization since these value will not be used we put them to 0
            loss = metric(output, target) # Compute the loss between prediction(output) and the target
            mean_corrector = n_movies / float(torch.sum(target.data > 0) + 10e-10) # to be sure that the denominator is not 0
            loss.backward() # Backward method for deciding the direction of th eupdate if increase or decrease
            train_loss += np.sqrt(loss.data[0] * mean_corrector) # Update the train loss
            s += 1. # increment users count 
            optimizer.step() # Decide the intensity of the update
    print('epoch:' + str(epoch) +  ' loss: ' + str(train_loss / s))

epoch:1 loss: 1.0966228981741677
epoch:2 loss: 1.0533843541728227
epoch:3 loss: 1.0383570260862365
epoch:4 loss: 1.0306853443218258
epoch:5 loss: 1.026731920675691
epoch:6 loss: 1.023879606240372
epoch:7 loss: 1.0218176013189593
epoch:8 loss: 1.0207395770701637
epoch:9 loss: 1.0197838926595066
epoch:10 loss: 1.018825840361084
epoch:11 loss: 1.0185552086597922
epoch:12 loss: 1.0179807298566554
epoch:13 loss: 1.0176416490458675
epoch:14 loss: 1.0173294490045
epoch:15 loss: 1.017008616385241
epoch:16 loss: 1.0166951622796632
epoch:17 loss: 1.0165761555500215
epoch:18 loss: 1.0164913810986287
epoch:19 loss: 1.0164307757854514
epoch:20 loss: 1.01610899543316
epoch:21 loss: 1.0159623596928442
epoch:22 loss: 1.0158065286184674
epoch:23 loss: 1.0159547969235099
epoch:24 loss: 1.015719993614856
epoch:25 loss: 1.0156087229344302
epoch:26 loss: 1.0152754981520042
epoch:27 loss: 1.0150360320201024
epoch:28 loss: 1.0127338757254107
epoch:29 loss: 1.011153452175444
epoch:30 loss: 1.0104551557340806
epoch:31 loss: 1.008380213166617
epoch:32 loss: 1.007986201027946
epoch:33 loss: 1.0043817271189106
epoch:34 loss: 1.0041433712382968
epoch:35 loss: 1.001477869900506
epoch:36 loss: 1.0004163820147576
epoch:37 loss: 0.9980630739527321
epoch:38 loss: 0.9965880344905426
epoch:39 loss: 0.9958434662235982
epoch:40 loss: 0.9949116079221666
epoch:41 loss: 0.9917712029290568
epoch:42 loss: 0.992775710814201
epoch:43 loss: 0.987283308046948
epoch:44 loss: 0.989677026717027
epoch:45 loss: 0.9851177060408245
epoch:46 loss: 0.9836130570464687
epoch:47 loss: 0.9827660941289046
epoch:48 loss: 0.9811844140551528
epoch:49 loss: 0.9818135512901197
epoch:50 loss: 0.9789869070666586
epoch:51 loss: 0.9750585707004295
epoch:52 loss: 0.9751641827542861
epoch:53 loss: 0.9699434259265528
epoch:54 loss: 0.9693489024088658
epoch:55 loss: 0.9651035915082524
epoch:56 loss: 0.9649428132218746
epoch:57 loss: 0.9631076683324525
epoch:58 loss: 0.9608381768788938
epoch:59 loss: 0.958815566541429
epoch:60 loss: 0.9578646632610425
epoch:61 loss: 0.955720812646754
epoch:62 loss: 0.9556018520200514
epoch:63 loss: 0.9531368586988933
epoch:64 loss: 0.9564114897436502
epoch:65 loss: 0.9544972130028033
epoch:66 loss: 0.9545062600890963
epoch:67 loss: 0.9523755711839637
epoch:68 loss: 0.9524714848953052
epoch:69 loss: 0.9497432926456728
epoch:70 loss: 0.9499060362527485
epoch:71 loss: 0.9474026016398439
epoch:72 loss: 0.9502869876294894
epoch:73 loss: 0.9449417217833683
epoch:74 loss: 0.9465576249734032
epoch:75 loss: 0.9453499144464627
epoch:76 loss: 0.945687572702236
epoch:77 loss: 0.9424320731544039
epoch:78 loss: 0.9440645980320814
epoch:79 loss: 0.9409278142993647
epoch:80 loss: 0.943604950596455
epoch:81 loss: 0.9396998683162331
epoch:82 loss: 0.9415301227083321
epoch:83 loss: 0.9384319837299315
epoch:84 loss: 0.9409638547649718
epoch:85 loss: 0.9380128601141865
epoch:86 loss: 0.939798909927699
epoch:87 loss: 0.9372384757558839
epoch:88 loss: 0.9390380619560017
epoch:89 loss: 0.9375931334828019
epoch:90 loss: 0.938380033537338
epoch:91 loss: 0.9349789816477652
epoch:92 loss: 0.9377675642472433
epoch:93 loss: 0.9341394518686398
epoch:94 loss: 0.9359885033039828
epoch:95 loss: 0.9326479032196971
epoch:96 loss: 0.9349147302382212
epoch:97 loss: 0.9328545262880102
epoch:98 loss: 0.9341963312462803
epoch:99 loss: 0.9321065710601757
epoch:100 loss: 0.9337123076120116
epoch:101 loss: 0.9316690848384352
epoch:102 loss: 0.932991196619649
epoch:103 loss: 0.9313205314500851
epoch:104 loss: 0.9325301090404856
epoch:105 loss: 0.9304352707864492
epoch:106 loss: 0.9319924526825971
epoch:107 loss: 0.9296110070755326
epoch:108 loss: 0.9313580945987553
epoch:109 loss: 0.9290586348247424
epoch:110 loss: 0.9307253666907348
epoch:111 loss: 0.9286961264246166
epoch:112 loss: 0.9300014872732847
epoch:113 loss: 0.9281010997068151
epoch:114 loss: 0.9292621841609462
epoch:115 loss: 0.9270078529108674
epoch:116 loss: 0.9284316888014118
epoch:117 loss: 0.9270419873164973
epoch:118 loss: 0.9279859112046653
epoch:119 loss: 0.9262641793345786
epoch:120 loss: 0.9273117108509158
epoch:121 loss: 0.9252104566516952
epoch:122 loss: 0.9267069311082681
epoch:123 loss: 0.9253095549052119
epoch:124 loss: 0.9261138141301914
epoch:125 loss: 0.9247339028358237
epoch:126 loss: 0.9257788465950952
epoch:127 loss: 0.9242844061103055
epoch:128 loss: 0.9253501975212746
epoch:129 loss: 0.9239837671866438
epoch:130 loss: 0.9247713658046737
epoch:131 loss: 0.9230289891264953
epoch:132 loss: 0.9243418600061873
epoch:133 loss: 0.9227144576706666
epoch:134 loss: 0.9236691498884679
epoch:135 loss: 0.9222312557213399
epoch:136 loss: 0.9229051427000525
epoch:137 loss: 0.9218802141026438
epoch:138 loss: 0.9226591129964142
epoch:139 loss: 0.9213889440989003
epoch:140 loss: 0.9221419219046585
epoch:141 loss: 0.92078266306139
epoch:142 loss: 0.9215375333065241
epoch:143 loss: 0.9206064165509499
epoch:144 loss: 0.9211414316224418
epoch:145 loss: 0.9202320724131955
epoch:146 loss: 0.9207037497744094
epoch:147 loss: 0.9196946566380438
epoch:148 loss: 0.919950354351017
epoch:149 loss: 0.9192658193613759
epoch:150 loss: 0.9194336029327262
epoch:151 loss: 0.9189635185036445
epoch:152 loss: 0.9189646758138236
epoch:153 loss: 0.9181169904929445
epoch:154 loss: 0.9187490314379769
epoch:155 loss: 0.9180413228818797
epoch:156 loss: 0.9183184376466984
epoch:157 loss: 0.9174939615732094
epoch:158 loss: 0.917838553342555
epoch:159 loss: 0.9168398337824563
epoch:160 loss: 0.9173762055993786
epoch:161 loss: 0.9167525066026186
epoch:162 loss: 0.9170090608192836
epoch:163 loss: 0.9163093289119456
epoch:164 loss: 0.9167369247048682
epoch:165 loss: 0.9156143282320265
epoch:166 loss: 0.9164454037016614
epoch:167 loss: 0.9157580852586387
epoch:168 loss: 0.9157664194323102
epoch:169 loss: 0.9149986801123181
epoch:170 loss: 0.9152904011302918
epoch:171 loss: 0.9150083870897998
epoch:172 loss: 0.9150773550043405
epoch:173 loss: 0.9144601126735797
epoch:174 loss: 0.9144951597307917
epoch:175 loss: 0.9140679552622603
epoch:176 loss: 0.9139720431847275
epoch:177 loss: 0.9141555572180019
epoch:178 loss: 0.9136521770919174
epoch:179 loss: 0.9138175851145861
epoch:180 loss: 0.9134621478059178
epoch:181 loss: 0.9132415502586612
epoch:182 loss: 0.9130918710324907
epoch:183 loss: 0.9130831497290337
epoch:184 loss: 0.9129006420951674
epoch:185 loss: 0.9127841705044398
epoch:186 loss: 0.9125136908084185
epoch:187 loss: 0.9126482243807088
epoch:188 loss: 0.912241618486021
epoch:189 loss: 0.9121563220156644
epoch:190 loss: 0.9117491518131905
epoch:191 loss: 0.9119145294282676
epoch:192 loss: 0.9116601045791488
epoch:193 loss: 0.9117280001751462
epoch:194 loss: 0.9112378628575467
epoch:195 loss: 0.91145536281224
epoch:196 loss: 0.9108428474809271
epoch:197 loss: 0.9111660918560819
epoch:198 loss: 0.910438921710993
epoch:199 loss: 0.910753824111879
epoch:200 loss: 0.9103365139369824

### Results

In [52]:
# Measure the test loss
test_loss = 0
s = 0.
for id_user in range(n_users): # For each user take the movies rated
     # Here we keep the training set, since we need to predict the movie the user didn't watch
    input = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]) # The target vector will be the test set
    if torch.sum(target.data > 0) > 0 : # consider users that rated at least one movie
        output = sae.forward(input) # forward the input in the network
        target.require_grad = False # Don't compute the gradient with respect to the target
        output[target == 0] = 0  # Optimization since these value will not be used we put them to 0
        loss = metric(output, target) # Compute the loss between prediction(output) and the target
        mean_corrector = n_movies / float(torch.sum(target.data > 0) + 10e-10) # to be sure that the denominator is not 0
        test_loss += np.sqrt(loss.data[0] * mean_corrector) # Update the train loss
        s += 1. # increment users count 
print('Test loss: ' + str(test_loss / s))

Test loss: 0.9196047966139437

## 3. Discussion

The test loss is very similar to the training loss. This mean that our model is robust and that there is no overfitting.
In general the goal was to obtain a test loss of less than one, and with this autoencoder we